nav#th_white_theme
    ul.blog_menu
        li
            a(href='/index') windCheck
        li
            a(href='/windDetail' title='windDetail') windDetail
        li
            a(href='/deviceManage') deviceMange