nav#th_white_theme
    ul.blog_menu
        li
            a(href='/index' style="padding: 0px")
                img(src="images/wind-logo.png" height="50px" alt="windLogo")
            //img src="images/arrow-icon.png" alt="wind-direction"
        li
            a(href='/index') windCheck
        li
            a(href='/windDetail' title='windDetail') windDetail
        li
            a(href='/deviceManage') deviceMange