extends layout

block content
  link(rel='stylesheet', href='/css/info.css')
  body(style="background-color: #FFFFFF")
    div
      .left(style="width: 47%; height: 800px; float: left; box-sizing: border-box; background-color: #e0ffff  ; margin-top: 3%; margin-left: 3%")
        .row
          .col
            include ./home/realtimeWindData.pug

          -for(let i = 0; i < 7; i++)
            input(id='dayWindData' + i, type = "hidden", value = `${dayWindData[i].windSpeed}`)
            input(id='dayExpress' + i, type = "hidden", value = `${dayWindData[i].rgst_dt}`)
          -for(let i = 0; i < 12 * 6; i++)
             input(id = 'windSpeedEachDay' + i, type = "hidden", value = `${timeWindDataFor6days[i].windSpeed}`)
          -for(let i = 0; i < timeWindDataForLastDay.length; i++)
            input(id='windSpeedLastDay' + i, type = 'hidden', value = `${timeWindDataForLastDay[i].windSpeed}`)

        .row
          .col(style="width: 100%; float: right; box-sizing: border-box")
            include ./home/windBarChart.pug


      .right(style="width: 45%; height: 800px; float: right; box-sizing: border-box; background-color: #e0ffff; margin-top: 3%; margin-right: 3%; margin-bottom: 3%;")
        include ./home/windDataTable.pug