#deviceContatiner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
#deviceContatiner #pageTitle {
    font-size: 40px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#showTable #showInfo {                          /* table */
    text-align: center;
    border: 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#showTable #showInfo #deviceName {              /* thead */
    border: 1px solid;
}
#showTable #showInfo #deviceName tr th {
    width: 8%;
    border: 1px solid;
}
#showTable #showInfo #deviceName tr #deviceTitle {
    width: 20%;
    border: 1px solid;
}
#showTable #showInfo #deviceName tr #mapSearch {
    width: 50%;
    border: 1px solid;
}
#showTable #showInfo #deviceName tr #mapSearch input {
    width: 85%;
    border: 1px solid;
}
#showTable #showInfo #deviceName tr #mapSearch button {
    width: 15%;
    border: 1px solid;
}
#showTable #showInfo #deviceName tr td input {
    width: 100%;
    border: 1px solid;
}
#showTable #showInfo #deviceName #selectDevice {
    width: 100%;
}

#showTable #showInfo #deviceInfo {              /* tbody */
    text-align: center;
    border: 1px solid;
}
#showTable #showInfo #deviceInfo tr #deviceImg {
    border: 2px solid;
    height: 400px;
}
#showTable #showInfo #deviceInfo tr #map {
    width: 100%;
}
#showTable #showInfo #deviceInfo tr th {
    width: 8%;
    border: 1px solid;
}
#showTable #showInfo #deviceInfo tr td {
    border: 1px solid;
}

#map {
    width: 50%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border: 2px solid;
}
#registerRow {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#buttonTable {
    text-align: right;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#toggleOperation {
    width: 100%;
    display: none;
}
#toggleOperation #deviceManageTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 45%;
    text-align: center;
    border: 2px solid;
}
#toggleOperation #deviceManageTable th, #toggleOperation #deviceManageTable td{
    border: 2px solid;
}
#toggleOperation #deviceManageTableHead {
    background-color: #adb5bd;
    border: 2px solid;
}
#toggleOperation #deviceManageTableTbody {
    border: 2px solid;
}
#toggleOperation #deviceManageTableTbody .deviceAddress {
    cursor: pointer;
}
#toggleOperation #deviceManageTableTbody .deviceAddress:hover {
    text-decoration: underline;
}

#tableShowToggle {
    height: 100%;
    line-height: 40px;
    display: block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #2962ff;
}
#tableShowToggle:hover {
    text-decoration: underline;
}

