extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/deviceTable.css')

    script.
        const selectDevice = (e) => {
            if(e.value === 'customOption') {                                                // display the input function follow with selection
                document.getElementsByName("customInput")[0].style.display = 'inline';
            }
            else {
                document.getElementsByName("customInput")[0].style.display = 'none';
            }
        }

        function uploadImgPreview() {                                                       // display picture that customer pic
            let fileInfo = document.getElementById("deviceImgInput").files[0];
            let reader = new FileReader();

            reader.onload = function() {
                document.getElementById("previewImg").src = reader.result;
            };

            if(fileInfo) {
                reader.readAsDataURL(fileInfo);
            }
        }

        function registerDevice() {
            let result = confirm("장치를 등록 하시겠습니까?")
            if(!result)
                return 0;

            let deviceType;
            if($("select[name= deviceOptions]").val() === "customOption") {                 // deviceType that customer select (option or 'customInput')
                deviceType = $("#customInput").val();
            }
            else {
                deviceType =$("select[name= deviceOptions]").val();
            }

            let form = new FormData();                                                      // I used that when I control about ImgData
            form.append("deviceImg", $("#deviceImgInput")[0].files[0]);

            $.ajax({                                                                        // register data(name, type,
                data: JSON.stringify({
                    'deviceName': $("input[name= deviceName]").val(),
                    'deviceType': deviceType
                    // 'deviceImg': form
                }),
                type: 'post',
                dataType: 'html',
                url: "/deviceRegister/api/register",
                contentType: 'application/json',
                success: (result) => {
                    console.log(result)
                    alert(result);
                    location.href = "/deviceManage";
                },
                error: (err) => {
                    console.log(err)
                }
            })

            $.ajax({                                                                        // register img src follow with deviceId
                data: form,
                type: 'post',
                processData: false,
                // contentType : false,
                dataType: 'html',                   //multipart/form-data
                url: "/deviceRegister/api/imgUpload",
                contentType: false,
                success: (result) => {
                    console.log(result)
                    alert(result);
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

    //#diviceContainer
    .row#deviceContatiner
        p#pageTitle 장치 등록
    .row#showTable
        table#showInfo
            thead#deviceName
                tr
                    th 장치 명
                    td
                        input(type="text" style="width: 100%" name="deviceName")
            tbody#deviceInfo
                tr
                    td#deviceImg(colspan="2")
                        img#previewImg(src="")
                tr
                    td(colspan="2")
                        input(type="file" id="deviceImgInput" name="deviceImgInput" style="width: 100%" accept="image/*" onchange="uploadImgPreview()")

                tr
                    th 장치 타입
                    td
                        select#selectDevice(name="deviceOptions" style="width: 100%; text-align: center" onchange="selectDevice(this)")
                            option(value = 'customOption') 사용자 입력
                            -for (let i = 0; i < deviceData.length; i++)
                                option(value = `${deviceData[i].deviceType}`) #{deviceData[i].deviceType}
                        input#customInput(type="text" name="customInput" style="width: 100%")
                tr
                    th 등록 일
                    td
                        input(type="text" disabled = true style="width: 100%" value=`${currentTime}`)

    .row
        table#buttonTable
            tr
                td(colspan="2")
                    button(onClick='registerDevice()' class='btn btn-dark mr-2' style="width: 90%") 장치 등록
            tr
                td(colspan="2")
                    button(onClick='location.href = "/deviceManage"' class='btn btn-dark mr-2' style="width: 90%") 뒤로 가기
