extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/deviceTable.css')

    script.
        const selectDevice = (e) => {
            if(e.value === 'customOption') {                                                // display the input function
                document.getElementsByName("customInput")[0].style.display = 'inline';
            }
            else {
                document.getElementsByName("customInput")[0].style.display = 'none';
            }
            console.log('e.value => ' + e.value)
        }

        function registerDevice() {
            let result = confirm("장치를 등록 하시겠습니까?")
            if(!result)
                return 0;

            let deviceType;
            if($("select[name= deviceOptions]").val() === "customOption") {
                deviceType = $("#customInput").val();
                console.log("deviceType => " + deviceType);
            }
            else {
                deviceType =$("select[name= deviceOptions]").val();
            }
            $.ajax({
                data: {
                    'deviceName': $("input[name= deviceName]").val(),
                    'deviceType': deviceType,
                    // 'deviceImg':
                },
                type: 'get',
                dataType: 'html',
                url: "/deviceRegister/api/register",
                contentType: 'application/json',
                success: (result) => {
                    console.log(result)
                    alert("장치를 등록했습니다.");
                    location.href = "/deviceManage";
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

    //#diviceContainer
    .row#deviceContatiner
        p#pageTitle 장치 등록
    .row#showTable
        table#showInfo
            thead#deviceName
                tr
                    th 장치 명
                    td
                        input(type="text" style="width: 100%" name="deviceName")
            tbody#deviceInfo
                tr
                    td#deviceImg(colspan="2") 이미지
                tr
                    th 장치 타입
                    td
                        select#selectDevice(name="deviceOptions" style="width: 100%; text-align: center" onchange="selectDevice(this)")
                            -for (let i = 0; i < deviceData.length; i++)
                                option(value = `${deviceData[i].deviceType}`) #{deviceData[i].deviceType}
                            option(value = 'customOption') 사용자 입력
                        input#customInput(type="text" name="customInput" style="display: none; width: 100%")
                tr
                    th 등록 일
                    td
                        input(type="text" disabled = true style="width: 100%" value=`${currentTime}`)

    .row
        table#buttonTable
            tr
                td(colspan="2")
                    button(onClick='registerDevice()' class='btn btn-dark mr-2' style="width: 90%") 장치 등록
            tr
                td(colspan="2")
                    button(onClick='location.href = "/deviceManage"' class='btn btn-dark mr-2' style="width: 90%") 뒤로 가기
