extends ../layout

block content
    script.
        const selectDevice = (e) => {
            if(e.value === 'customOption') {                                                // display the input function
                document.getElementsByName("customInput")[0].style.display = 'inline';
            }
            else {
                document.getElementsByName("customInput")[0].style.display = 'none';
            }
            console.log('e.value => ' + e.value)
            // registerDevice();
        }

        function registerDevice() {
            let deviceType;
            if($("select[name= deviceOptions]").val() === "customOption") {
                deviceType = $("#customInput").val();
                console.log("deviceType => " + deviceType);
            }
            else {
                deviceType =$("select[name= deviceOptions]").val();
            }
            $.ajax({
                data: {
                    'deviceName': $("input[name= deviceName]").val(),
                    'deviceType': deviceType,
                    // 'deviceImg':
                },
                type: 'get',
                dataType: 'html',
                url: "/deviceRegister/api/register",
                contentType: 'application/json',
                success: (result) => {
                    console.log(result)
                    // 등록 완료 팝업창 띄우기
                    // 디바이스 매니지 페이지로 이동
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

    //#diviceContainer
    .row(style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 5%")
        p#pageTitle(style="font-size: 40px; text-align: center; width: 50%; margin-left: auto; margin-right: auto") 장치 등록
    .row#showTable
        table#showInfo(style="text-align: center; border: 2px solid; margin-left: auto; margin-right: auto; width: 20%")
            thead#deviceName(style="text-align: center; border: 1px solid")
                tr
                    th(style="width: 30%; border: 1px solid") 장치 명
                    td(style="width: 70%; border: 1px solid")
                        input(type="text" style="width: 100%" name="deviceName")
            tbody#deviceInfo(style="text-align: center; border: 1px solid")
                tr
                    td#deviceImg(colspan="2" style="border: 2px solid; height: 300px") 이미지
                tr
                    th(style="width: 30%; border: 1px solid") 장치 타입
                    td(style="width: 70%; border: 1px solid")
                        select#selectDevice(name="deviceOptions" style="width: 100%; text-align: center" onchange="selectDevice(this)")
                            -for (let i = 0; i < deviceData.length; i++)
                                option(value = `${deviceData[i].deviceType}`) #{deviceData[i].deviceType}
                            option(value = 'customOption') 사용자 입력
                        input#customInput(type="text" name="customInput" style="display: none; width: 100%")
                tr
                    th(style="width: 30%; border: 1px solid") 등록 일
                    td(style="width: 70%; border: 1px solid")
                        input(type="text" disabled = true style="width: 100%" value=`${currentTime}`)

    .row
        table#buttonTable(style="text-align: center; margin-top: 1%; margin-left: auto; margin-right: auto; width: 20%")
            tr
                td(colspan="2")
                    button(onClick='registerDevice()' class='btn btn-dark mr-2' style="width: 90%") 장치 등록
            tr
                td(colspan="2")
                    button(onClick='location.href = "/deviceManage"' class='btn btn-dark mr-2' style="width: 90%") 뒤로 가기
