table#windInfo
    thead
        tr(style="margin-left: 10%; align: center")
            th#image(style="width: 50%" colspan='1')
                img.wind-direction-icon(src="images/arrow-icon.png", alt="wind-direction" style={
                    width: '250px',
                    transform: `rotate(${datasOfTable[0].windDirection}deg)`
                })
            th(style="width: 50%;")
                figure.highcharts-figure
                  #container-speed.chart-container
        tr
            th
                p(style="font-size: 20px; text-align: center") 현재 풍향
            th
                p(style="width: 30%; font-size: 20px; text-align: right") 현재 풍속

script.
    var gaugeOptions = {
        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        exporting: {
            enabled: false
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            tickWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The wind speed
    var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 60,
            title: {
                text: 'WindSpeed'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'WindSpeed',
            data: [60],
            dataLabels: {
                format:
                    '<div style="text-align:center">' +
                    '<span style="font-size:25px">{y}</span><br/>' +
                    '<span style="font-size:12px;opacity:0.4">m/s</span>' +
                    '</div>'
            },
            tooltip: {
                valueSuffix: ' m/s'
            }
        }]

    }));
    setInterval(function () {
        setWindData();
    }, 3000);

    const setWindData = () => {
    $.ajax({
    data: {},
        type: 'get',
        dataType: 'html',
        url: '/realtimeWindData/api/search',
        contentType: 'application/json',
        success: (result) => {
            const point = chartSpeed.series[0].points[0];
            const newVal = result * 1;

            point.update(newVal);
            },
        error: (err) => {
            console.log(err);
            }
        })
    }