table#info-table(style="margin-left: auto; margin-right: auto; width: 70%;")
    thead(style='border: 1px solid #000')
        p(style="margin-top: 2%; font-size: 30px; text-align: center") 풍향 / 풍속 데이터
        tr(style='background-color: #DDE7E7')
            th(rowspan="2" style="width: 33%; text-align: center; border: 2px solid #000") 날짜<br/>(년-월-일)
            th(rowspan="2" style="width: 33%; text-align: center; border: 2px solid #000") 풍향
            th(rowspan="2" style="width: 33%; text-align: center; border: 2px solid #000") 풍속(m/s)
    tbody(style='border: 2px solid #000')
        each map in datas
            tr(style='background-color: #FFFFFF')
                td(style="width: 33%; text-align: center; border: 1px solid #000") #{map.rgst_dt}
                td(style="width: 33%; text-align: center; border: 1px solid #000")
                    img.wind-direction-icon(src="images/arrow-icon.png", alt="wind-direction" style={
                        width: '40px',
                        transform: `rotate(${map.windDirection}deg)`
                    })
                td(style="width: 33%; text-align: center; border: 1px solid #000") #{map.windSpeed} (m/s)